In [55]:
import pandas as pd
import numpy as np

school_data = '../Starter_Code/PyCitySchools/Resources/schools_complete.csv'
student_data = '../Starter_Code/PyCitySchools/Resources/students_complete.csv'

school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

school_data_all = pd.merge(student_data, school_data, how = "left", on = ["school_name", "school_name"])
school_data_all.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [56]:
# Calculate the total number of unique schools
school_count = len(school_data)
school_count

15

In [57]:
# Calculate the total number of students
student_count = len(student_data)
student_count

39170

In [58]:
# Calculate the total budget
total_budget = sum(school_data['budget'])
total_budget

24649428

In [59]:
# Calculate the average (mean) math score
average_math_score = np.mean(student_data['math_score'])
average_math_score

78.98537145774827

In [60]:
# Calculate the average (mean) reading score
average_reading_score = np.mean(student_data['reading_score'])
average_reading_score

81.87784018381414

In [61]:
passing_math_count = student_data[(student_data['math_score'])>=70].count()['student_name']
passing_math_percentage = (passing_math_count/student_count)*100
passing_math_percentage

74.9808526933878

In [62]:
passing_reading_count = student_data[(student_data['reading_score'])>=70].count()['student_name']
passing_reading_percentage = (passing_reading_count/student_count)*100
passing_reading_percentage

85.80546336482001

In [63]:
passing_math_reading_count = student_data[((student_data['math_score'])>=70) & ((student_data['reading_score'])>=70)].count()['student_name']
passing_math_reading_percentage = (passing_math_reading_count/student_count)*100
passing_math_reading_percentage

65.17232575950983

In [44]:
#Create a hith-level snapshot of the district's key metrics in a DataFrame
district_summary = {
    'Total Schools': [school_count],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [passing_math_reading_percentage]
}

district_summary = pd.DataFrame(district_summary)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [45]:
school_types = school_data['type'].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [46]:
# Calculate the total student count per school
per_school_counts = school_data_all.groupby('school_name')['student_name'].count()

per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [47]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_all.groupby('school_name')['budget'].sum()
per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [48]:
# Calculate the average test scores per school
per_school_math = school_data_all.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_all.groupby('school_name')['reading_score'].mean()

In [49]:
students_passing_math = school_data_all['math_score']>=70
school_students_passing_math = school_data_all[students_passing_math].groupby('school_name')['math_score'].count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [50]:
students_passing_reading = school_data_all['reading_score']>=70
school_students_passing_reading = school_data_all[students_passing_reading].groupby('school_name')['reading_score'].count()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [77]:
students_passing_math_and_reading = school_data_all[
    (school_data_all["reading_score"] >= 70) & (school_data_all["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

2719

In [52]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [82]:
per_school_summary = {'School Type': [school_types], 
                           'Total Students': [per_school_counts], 
                           'Total School Budget': [per_school_budget], 
                           'Per Student Budget': [per_school_capita], 
                           'Average Math Score': [per_school_math], 
                           'Average Reading Score': [per_school_reading], 
                           '% Passing Math': [per_school_passing_math], 
                           '% Passing Reading': [per_school_passing_reading], 
                           '% Overall Passing': [overall_passing_rate]
}

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,"[District, Charter]","[4976, 1858, 2949, 2739, 1468, 4635, 427, 2917...","[15549641728, 2009159448, 5557128039, 48313659...","[3124928.0, 1081356.0, 1884411.0, 1763916.0, 9...","[77.04843247588424, 83.06189451022605, 76.7117...","[81.03396302250803, 83.97578040904197, 81.1580...","[66.68006430868168, 94.1334768568353, 65.98847...","[81.93327974276528, 97.03982777179763, 80.7392...","[54.64228295819936, 91.33476856835307, 53.2044..."

## Highest-Performing Schools (by % Overall Passing)

In [92]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = overall_passing_rate.sort_values(ascending=False)
top_schools = pd.DataFrame(top_schools)
top_schools.head(5)

                             0
school_name
Cabrera High School  91.334769
Thomas High School   90.948012
Griffin High School  90.599455
Wilson High School   90.582567
Pena High School     90.540541

In [54]:
school_data_all.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635